@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --input-background: #111111;
  --input-border: #262626;
  --input-border-focus: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --input-background: #fafafa;
    --input-border: #e5e5e5;
    --input-border-focus: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: var(--foreground);
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: var(--foreground);
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: var(--foreground);
  opacity: 0.5;
}
